robot_name=机智糊糊       # 机器人的微信名
robot_system_prompt=你是一个开源机器人（https://github.com/chris-peng/jizhihuhu），名字叫机智糊糊，是一个聪明可爱的AI助手，当有人@你的时候，请回答他。        # 给机器人的系统提示，可以告诉机器人自己叫什么，职责是什么等
introduce=大家好，我是机智糊糊，是一个智能机器人助手，虽然我有时会犯迷糊，但大多数时候我都机智的一匹！[得意]有什么问题可以随时@我哦。[害羞][害羞]       # 被邀进群自我介绍
admin=管理员微信名                                                  # 管理员的微信名，管理员可以通过给机器人发送“开”或“关”控制机器人是否开启自动回复
test_user=微信团队                                              # 用来维持登录(否则长时间无对话可能会被强制下线)，机器人登录后，将每隔12小时自动向该联系人发送一个 "hello, 机智糊糊"

ai_service=xunfeixinghuo                                          # 选择ai模型，目前只支持讯飞星火xunfeixinghuo和chatgpt

# 以下只需要填写选择的ai模型对应的配置项
# xunfeixinghuo
xunfeixinghuo_domain=generalv3.5                                  # 讯飞星火模型版本，默认为v3.5模型，除非你要用其他版本的模型，否则不需要修改
xunfeixinghuo_hostUrl=https://spark-api.xf-yun.com/v3.5/chat      # 讯飞星火api地址，默认为v3.5模型的地址，除非你要用其他版本的模型，否则不需要修改
xunfeixinghuo_appid=<your app id>                                 # 讯飞星火提供的appid，需要在讯飞开放平台注册并创建应用后获取
xunfeixinghuo_apiSecret=<your api secret>                         # 讯飞星火提供的apiSecret，需要在讯飞开放平台注册并创建应用后获取
xunfeixinghuo_apiKey=<your api key>                               # 讯飞星火提供的apiKey，需要在讯飞开放平台注册并创建应用后获取
xunfeixinghuo_temperature=0.5                                     # 机器人回复的温度，范围是0～1，数值越大表示回复越具有不确定性
xunfeixinghuo_max_tokens=2048                                     # 机器人每次回复的最大token数
xunfeixinghuo_qps=2                                               # 每秒最多允许多少次回复，多出的回复将排队延迟发送，注意不要超过讯飞星火允许的 qps

# chatgpt
chatgpt_api_base=https://api.openai.com/v1                        # chatgpt 接口地址，默认为openai官方地址，也可以用其他兼容openai接口的地址，比如nvidia llama3的https://integrate.api.nvidia.com/v1
chatgpt_token=<your api key>                                      # chatgpt 接口（或其他兼容接口）的 api key，需要在 openai 官网申请， ai_service 为chatgpt时，必填
chatgpt_model=gpt-3.5-turbo                                       # chatgpt（或其他兼容接口）的 模型名称
chatgpt_temperature=0.5                                           # 机器人回复的温度，范围是0～1，数值越大表示回复越具有不确定性
chatgpt_max_tokens=2048                                           # 机器人每次回复的最大token数